@font-face {
  font-family: elarte;
  src: url(../../font/elarte.ttf);
}

h1, h2, h3, h4, h5, h6, h6, p {
  margin: 0 0 .75em;
}

h1:last-child, h2:last-child, h3:last-child,
h4:last-child, h5:last-child, h6:last-child,
p:last-child {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.2rem;
  line-height: 1;
}

.title-large {
  font-size: 2rem;
  font-weight: 900;
  line-height: .9;
}

.title-large span {
  font-weight: 300;
}

.title-box {
  background: #d31869;
  color: white;
  margin: 0 auto;
  padding: 2em;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
  max-width: 90%;
}

@media (min-width: 495px) {
  .title-box {
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.title-box + .bg-primary {
  padding-top: 6em;
}

@media (min-width: 495px) {
  .title-box + .bg-primary {
    padding-top: 8em;
  }
}

@media (min-width: 725px) {
  .title-box {
    max-width: 700px;
  }
}

.title-footer {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1;
}

.title-footer::before, .title-footer::after {
  content: '';
  display: block;
  height: 1px;
  background: white;
  opacity: 0.25;
  margin: .75em 0;
}

.text-intro {
  font-size: 1.2rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  color: #048ca8;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left {
  text-align: left;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

nav ul li:last-child {
  margin-right: 24px;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff;
  opacity: 0;
  transition: all 0.2s ease;
}

.nav-wrapper ul {
  float: right;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.nav-wrapper ul li {
  display: block;
  float: none;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

.nav-wrapper ul li:nth-child(1) a {
  transition-delay: 0.2s;
}

.nav-wrapper ul li:nth-child(2) a {
  transition-delay: 0.25s;
}

.nav-wrapper ul li:nth-child(3) a {
  transition-delay: 0.3s;
}

.nav-wrapper ul li:nth-child(4) a {
  transition-delay: 0.35s;
}

.nav-wrapper ul li:nth-child(5) a {
  transition-delay: 0.4s;
}

.nav-wrapper ul li:nth-child(6) a {
  transition-delay: 0.45s;
}

.nav-wrapper ul li:not(:first-child) {
  margin-left: 0;
}

.nav-wrapper ul li a {
  padding: 10px 24px;
  opacity: 0;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  transition: all 0.2s ease;
  display: inline-block;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
}

.nav-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 9999;
  border-radius: 50%;
}

.nav-btn i {
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 2px;
  margin-left: 14px;
}

.nav-btn i:nth-child(1) {
  margin-top: 16px;
}

.nav-btn i:nth-child(2) {
  margin-top: 4px;
  opacity: 1;
}

.nav-btn i:nth-child(3) {
  margin-top: 4px;
}

#nav:checked + .nav-btn {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
      -ms-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
      -ms-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.hidden {
  display: none;
}

.cover {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: Poppins;
  font-weight: 400;
  background: url(../assets/img/background-img.jpg);
  background-position: center;
  background-size: cover;
}

.btn {
  display: inline-block;
  padding: .50em 1em;
  text-transform: uppercase;
  text-decoration: none;
}

.btnn {
  display: inline-block;
  padding: .50em 1em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 0.5em;
}

.msg, .poke {
  font-size: 0.85em;
}

.btn--primary {
  background: #d31869;
  color: white;
  border: 2px solid #d31869;
}

.btn--primary:hover, .btn--primary:focus {
  background: #8e1047;
}

.btn--secondary {
  border: 2px solid #048ca8;
  background: white;
  color: #048ca8;
}

.btn--secondary:hover, .btn--secondary:focus {
  background: #048ca8;
  color: white;
}

.icon {
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
}

input[type="text"] {
  background-color: #FFFFFF;
  border: 1px solid #E2E2E2;
  font-size: 15px;
  padding: 5px;
  width: 300px;
  margin-bottom: 3px;
  margin-top: 3px;
  outline: none;
  transition: all ease-in-out 500ms;
}

@media (max-width: 430px) {
  input[type="text"] {
    width: 200px;
  }
}

input[type="text"]:hover, input[type="text"]:focus {
  border: 1px solid #048ca8;
}

input[type="password"] {
  background-color: #FFFFFF;
  border: 1px solid #E2E2E2;
  font-size: 15px;
  padding: 5px;
  width: 300px;
  margin-bottom: 3px;
  margin-top: 3px;
  outline: none;
  transition: all ease-in-out 500ms;
}

@media (max-width: 430px) {
  input[type="password"] {
    width: 200px;
  }
}

input[type="password"]:hover, input[type="password"]:focus {
  border: 1px solid #048ca8;
}

.box1 {
  width: 40%;
  vertical-align: top;
}

@media (max-width: 900px) {
  .box1 {
    display: block;
    width: 100%;
    margin: auto 0;
  }
}

.box2 {
  width: 40%;
}

@media (max-width: 900px) {
  .box2 {
    display: block;
    width: 100%;
    padding-top: 2.5em;
  }
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: auto;
  border-left: 1px solid  #DCE5EE;
  border-right: 1px solid  #DCE5EE;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  #wrapper {
    width: auto;
  }
}
