@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: elarte;
  src: url(../../font/elarte.ttf);
}

h1, h2, h3, h4, h5, h6, h6, p {
  margin: 0 0 .75em;
}

h1:last-child, h2:last-child, h3:last-child,
h4:last-child, h5:last-child, h6:last-child,
p:last-child {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.2rem;
  line-height: 1;
}

.title-large {
  font-size: 2rem;
  font-weight: 900;
  line-height: .9;
}

.title-large span {
  font-weight: 300;
}

.title-box {
  background: #d31869;
  color: white;
  margin: 0 auto;
  padding: 2em;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
  max-width: 90%;
}

@media (min-width: 495px) {
  .title-box {
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.title-box + .bg-primary {
  padding-top: 6em;
}

@media (min-width: 495px) {
  .title-box + .bg-primary {
    padding-top: 8em;
  }
}

@media (min-width: 725px) {
  .title-box {
    max-width: 700px;
  }
}

.title-footer {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1;
}

.title-footer::before, .title-footer::after {
  content: '';
  display: block;
  height: 1px;
  background: white;
  opacity: 0.25;
  margin: .75em 0;
}

.text-intro {
  font-size: 1.2rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #048ca8;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left {
  text-align: left;
}

a {
  cursor: pointer;
}

.profile--wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: auto;
  border-left: 1px solid  #DCE5EE;
  border-right: 1px solid  #DCE5EE;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  .profile--wrapper {
    width: auto;
  }
}

.profile--wrapper-new {
  margin-left: auto;
  margin-right: 5%;
  width: 800px;
  height: auto;
  border-left: 1px solid  #DCE5EE;
  border-right: 1px solid  #DCE5EE;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  .profile--wrapper-new {
    width: auto;
  }
}

hr {
  background-color: #dce5ee;
  height: 1px;
  border: 0px;
}

nav ul li:last-child {
  margin-right: 24px;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff;
  opacity: 0;
  transition: all 0.2s ease;
  visibility: hidden;
}

.nav-wrapper ul {
  float: right;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.nav-wrapper ul li {
  display: block;
  float: none;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

.nav-wrapper ul li:nth-child(1) a {
  transition-delay: 0.2s;
}

.nav-wrapper ul li:nth-child(2) a {
  transition-delay: 0.25s;
}

.nav-wrapper ul li:nth-child(3) a {
  transition-delay: 0.3s;
}

.nav-wrapper ul li:nth-child(4) a {
  transition-delay: 0.35s;
}

.nav-wrapper ul li:nth-child(5) a {
  transition-delay: 0.4s;
}

.nav-wrapper ul li:nth-child(6) a {
  transition-delay: 0.45s;
}

.nav-wrapper ul li:nth-child(7) a {
  transition-delay: 0.55s;
}

.nav-wrapper ul li:not(:first-child) {
  margin-left: 0;
}

.nav-wrapper ul li a {
  padding: 10px 24px;
  opacity: 0;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  transition: all 0.2s ease;
  display: inline-block;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 9999;
  border-radius: 50%;
}

.nav-btn i {
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 2px;
  margin-left: 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all 0.2s ease;
}

.nav-btn i:nth-child(1) {
  margin-top: 16px;
}

.nav-btn i:nth-child(2) {
  margin-top: 4px;
  opacity: 1;
}

.nav-btn i:nth-child(3) {
  margin-top: 4px;
}

#nav:checked + .nav-btn {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
      -ms-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
      -ms-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
  visibility: visible;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.hidden {
  display: none;
}

.cover {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: 400;
}

.btn {
  display: inline-block;
  padding: .50em 1em;
  text-transform: uppercase;
  text-decoration: none;
}

.btnn {
  display: inline-block;
  padding: .50em 1em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 0.5em;
}

.msg, .poke {
  font-size: 0.85em;
}

.btn--primary {
  background: #d31869;
  color: white;
  border: 2px solid #d31869;
}

.btn--primary:hover, .btn--primary:focus {
  background: #8e1047;
}

.btn--secondary {
  border: 2px solid white;
  background: transparent;
  color: white;
  margin-bottom: 10px;
}

.btn--secondary:hover, .btn--secondary:focus {
  background: white;
  color: #048ca8;
}

@media (min-width: 440px) {
  .btn--secondary {
    margin-right: 10px;
  }
}

.icon {
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: auto;
  border-left: 1px solid  #DCE5EE;
  border-right: 1px solid  #DCE5EE;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  #wrapper {
    width: auto;
  }
}

.form {
  position: relative;
  width: 450px;
  min-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 48px 40px 36px;
}

@media (max-width: 610px) {
  .form {
    box-shadow: none;
  }
}

@media (max-width: 460px) {
  .form {
    width: 90%;
    padding: 10px;
  }
}

#area {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.user {
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  width: 100%;
  border-bottom: 1px solid #c0c0c0c0;
  padding-top: 30px;
}

.user::-webkit-input-placeholder {
  opacity: 0.5;
  transition: all 0.3s;
}

.user::-moz-placeholder {
  opacity: 0.5;
  transition: all 0.3s;
}

.user:-ms-input-placeholder {
  opacity: 0.5;
  transition: all 0.3s;
}

.user::placeholder {
  opacity: 0.5;
  transition: all 0.3s;
}

.pass {
  outline: none;
  border: none;
  margin: 0 auto;
  font-size: 18px;
  width: 100%;
  border-bottom: 1px solid #c0c0c0c0;
  padding-top: 30px;
  transition: all 1.5s linear;
}

.pass::-webkit-input-placeholder {
  opacity: 0.5;
  transition: all 0.3s;
}

.pass::-moz-placeholder {
  opacity: 0.5;
  transition: all 0.3s;
}

.pass:-ms-input-placeholder {
  opacity: 0.5;
  transition: all 0.3s;
}

.pass::placeholder {
  opacity: 0.5;
  transition: all 0.3s;
}

.new {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.usernameplacing::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  color: #1a73e8;
  font-size: 12px;
}

.usernameplacing::-moz-placeholder {
  opacity: 1;
  transform: translateY(-30px);
  color: #1a73e8;
  font-size: 12px;
}

.usernameplacing:-ms-input-placeholder {
  opacity: 1;
  -ms-transform: translateY(-30px);
      transform: translateY(-30px);
  color: #1a73e8;
  font-size: 12px;
}

.usernameplacing::placeholder {
  opacity: 1;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  color: #1a73e8;
  font-size: 12px;
}

.line {
  border: none;
  border-top: 1px solid #c0c0c0c0;
  -webkit-transform: scale(0.5, 1);
      -ms-transform: scale(0.5, 1);
          transform: scale(0.5, 1);
  transition: -webkit-transform ease-in-out 200ms;
  transition: transform ease-in-out 200ms;
  transition: transform ease-in-out 200ms, -webkit-transform ease-in-out 200ms;
  margin-top: -1px;
}

.newline {
  border-top: 2px solid #1a73e8;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  transition: -webkit-transform ease-in-out 200ms;
  transition: transform ease-in-out 200ms;
  transition: transform ease-in-out 200ms, -webkit-transform ease-in-out 200ms;
}

.username {
  height: 100px;
  padding: 20px 0;
}

.next {
  float: right;
  background-color: #1a73e8;
  border: none;
  width: 88px;
  height: 36px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 290px) {
  .next {
    display: block;
    margin: 0 auto;
    float: none;
  }
}

.hidden {
  display: none;
}

.newpass {
  color: #1a73e8;
  text-decoration: none;
}

@media (max-width: 290px) {
  .newpass {
    padding-top: 30px;
    display: inline-block;
    margin: 0 auto;
  }
}

#log {
  text-align: center;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

#new-details {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  text-align: center;
  color: #000;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 330px) {
  #new-details {
    line-height: 1.6;
  }
}

.lining {
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  width: auto;
}

.email_status {
  float: right;
  margin-top: -20px;
}

.pass_status {
  float: right;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: -10px;
  transition: all ease-in 250ms;
  z-index: 99999;
}

.round:hover {
  background-color: #ddd;
  color: black;
}

@media (max-width: 462px) {
  .round {
    margin-left: 10px;
    margin-top: 10px;
  }
}

.hide {
  visibility: hidden;
}

@media (max-width: 290px) {
  .center {
    text-align: center;
  }
}

.final {
  float: right;
  background: #1a73e8;
  color: white;
  border: 2px solid #1a73e8;
  padding: .40em 1.5em;
  text-decoration: none;
  border-radius: 5px;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  margin-top: -18px;
  font-weight: 500;
  margin-right: 10px;
  display: block;
}

.grad {
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@media (max-width: 390px) {
  .spinner {
    left: 45%;
    top: 45%;
  }
}

@media (max-width: 330px) {
  .spinner {
    left: 43%;
    top: 45%;
  }
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6347;
  z-index: 999999;
}

.profile_cover {
  background-image: linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  height: 100vh;
  width: 100%;
}

.user-profile {
  max-width: 200px;
}

.header {
  background-color: #f3f6f9;
  width: 200px;
  height: 30px;
  padding: 5px;
  border-bottom: 2px solid #dce5ee;
  font-weight: 600;
}

.space {
  width: 100%;
  height: 20px;
}

.bio--content {
  min-height: 150px;
  padding: 5px;
  height: auto;
  margin-left: 20px;
  width: 170px;
}

.bio--content:hover {
  background-color: #dce5ee;
}

.profile-newfeed {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #F3F6F9;
  padding: 0.6em;
  transition: all ease-in-out 250ms;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.profile-newfeed:hover {
  background-color: #F3F6F9;
  border: 1px solid #F3F6F9;
}

.profile--posted-by {
  font-weight: 700;
  float: left;
}

.profile--posted-by a {
  font-weight: 700;
  color: #048ca8;
  text-decoration: none;
  position: absolute;
  padding-left: 0.5em;
  padding-top: 0.3em;
}

.profile--posted-by a:hover {
  text-decoration: underline;
}

.profile--posted-by span {
  font-weight: 300;
  font-size: 0.8em;
  color: #000;
  padding-left: 0.7em;
}

.profile--body {
  padding: 5px;
  word-wrap: break-word;
  width: 100%;
  line-height: 1.6;
}

.post--likes {
  color: #16db93;
  font-size: 0.8em;
  padding: 5px;
  padding-top: 0;
}

.post--like, .post--comment {
  width: 49%;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}

.post--action {
  text-align: center;
}

.post-like-form {
  border: 0;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

.profile--comments {
  width: auto;
  height: auto;
  max-height: 0;
  overflow-y: scroll;
  -webkit-animation: unreveal 1s ease-in-out;
          animation: unreveal 1s ease-in-out;
}

@-webkit-keyframes unreveal {
  0% {
    max-height: 200px;
    opacity: 1;
  }
  50% {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes unreveal {
  0% {
    max-height: 200px;
    opacity: 1;
  }
  50% {
    max-height: 0;
    opacity: 0;
  }
}

.profile-post-comment {
  padding: 10px;
}

.text-comment {
  background-color: #dce5ee;
  resize: none;
  width: 75%;
  border-radius: 18px;
  text-decoration: none;
  border: 0;
  padding: 10px;
  -webkit-animation: textarea-anime 1s ease-in-out;
          animation: textarea-anime 1s ease-in-out;
}

.text-comment:focus {
  outline: none;
}

.comment_submit {
  display: none;
}

.comment-all-body {
  display: inline-block;
  background: #F3F6F9;
  border: 7px solid #F3F6F9;
  border-top: 2px;
  border-radius: 18px;
  position: relative;
  width: 90%;
}

.comment-all-body a {
  font-size: 15px;
  color: #048ca8;
  text-decoration: none;
}

.comment-all-body a:hover {
  text-decoration: underline;
}

.comment-all-body span {
  font-size: 14px;
}

.comment-all {
  padding-left: 20px;
}

.comment-all img {
  margin-right: 10px;
}

.post-image-content {
  width: 100%;
}

.open {
  display: block;
  max-height: 200px;
  -webkit-animation: reveal 1s ease-in-out;
          animation: reveal 1s ease-in-out;
}

@-webkit-keyframes reveal {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 200px;
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 200px;
    opacity: 1;
  }
}

.profile_each {
  width: 80%;
}

.add_btn {
  position: absolute;
  z-index: 20;
  font-size: 30px;
  top: 100px;
  left: 32px;
  -webkit-transform: scale(0.88, 0.88);
      -ms-transform: scale(0.88, 0.88);
          transform: scale(0.88, 0.88);
}

.add_mem {
  color: white;
  background-color: #ff5a5f;
  z-index: 20;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  outline: 0;
  border: 0;
  padding: 6px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  font-size: 100%;
}

.add_mem:hover {
  background-color: #db0000;
}

.head_container {
  width: 100vw;
  height: 128px;
  min-height: 128px;
  max-height: 128px;
  background-color: #007a87;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.mem_head {
  position: absolute;
  z-index: 20;
  font-size: 24px;
  top: 80px;
  -webkit-transform: scale(0.88, 0.88);
      -ms-transform: scale(0.88, 0.88);
          transform: scale(0.88, 0.88);
  color: rgba(255, 255, 255, 0.87);
  font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
  opacity: 0.8;
  width: 105%;
}

@media (max-width: 400px) {
  .mem_head {
    top: 50px;
  }
}

.mem_header {
  display: inline;
  padding-left: 100px;
}

@media (max-width: 500px) {
  .mem_header {
    font-size: 20px;
    padding-left: 70px;
  }
}

@media (max-width: 400px) {
  .mem_header {
    display: block;
    padding-left: 15px;
  }
}

.mem_table {
  width: 100%;
}

.mem_month {
  width: 100%;
  text-align: center;
}

th, td {
  padding: 5px;
}

table {
  color: #000;
  border-collapse: collapse;
}

.top_table {
  border-top: thin solid;
  border-color: black;
}

.bottom_table {
  border-bottom: thin solid;
  border-color: #ddd;
}

.left_table {
  border-left: thin solid;
  border-color: black;
}

.right_table {
  border-right: thin solid;
  border-color: black;
}

.remove {
  padding: 0;
}

#mem_month {
  font-size: 1em;
  font-weight: 700;
  color: #707070;
}

.mem_name {
  font-weight: 700;
  font-size: 1em;
  text-align: center;
}

.dataHover:hover {
  background-color: #ced1cc;
}

.unpaid {
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
}

.unpaid:hover {
  color: #fff;
}

.paid {
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  background-color: transparent;
}

.paid:hover {
  color: #fff;
}

.export {
  float: right;
  color: #fff;
  opacity: 0.8;
}

.search_container {
  float: right;
  -webkit-transform: translateX(-10px) translateY(2px) scale(0.8);
      -ms-transform: translateX(-10px) translateY(2px) scale(0.8);
          transform: translateX(-10px) translateY(2px) scale(0.8);
}

.search-boxx input {
  border: none;
  background: none;
  z-index: 1;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  color: transparent;
  font-size: 1em;
  line-height: 25px;
}

.search-boxx input:hover {
  cursor: pointer;
}

.search-boxx input:hover:focus {
  cursor: text;
}

.search-boxx input:hover + span {
  background: rgba(255, 255, 255, 0.2);
}

.search-boxx input:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: #fff;
}

.search-boxx input:focus + span {
  width: 200px;
}

.search-boxx input:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all .25s ease-in;
}

.search-boxx input + span {
  z-index: -1;
  position: absolute;
  border: 2px solid #fff;
  top: 0;
  height: 25px;
  width: 25px;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0;
}

.search-boxx input + span::before {
  transition: all .25s ease-in .25s;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  -webkit-transform: rotate(45deg) translate(26px, -2px);
      -ms-transform: rotate(45deg) translate(26px, -2px);
          transform: rotate(45deg) translate(26px, -2px);
}

.load-bar {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
}

.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}

.bar:nth-child(1) {
  background-color: #da4733;
  -webkit-animation: loading 2s linear infinite;
          animation: loading 2s linear infinite;
}

.bar:nth-child(2) {
  background-color: #3b78e7;
  -webkit-animation: loading 2s linear 0.5s infinite;
          animation: loading 2s linear 0.5s infinite;
}

.bar:nth-child(3) {
  background-color: #fdba2c;
  -webkit-animation: loading 2s linear 1s infinite;
          animation: loading 2s linear 1s infinite;
}

@-webkit-keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  color: #333333;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.contact {
  position: relative;
  width: 450px;
  min-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  overflow: hidden;
  padding: 48px 40px 36px;
  text-align: center;
}

@media (max-width: 460px) {
  .contact {
    width: 90%;
    padding: 10px;
  }
}

.contact__heading {
  font-size: 25px;
}

.contact__detail {
  font-size: 18px;
  text-align: center;
  color: #000;
  font-weight: 400;
}

.contact__input {
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  padding-top: 50px;
}

.contact__input::-webkit-input-placeholder {
  transition: all 0.3s;
}

.contact__input::-moz-placeholder {
  transition: all 0.3s;
}

.contact__input:-ms-input-placeholder {
  transition: all 0.3s;
}

.contact__input::placeholder {
  transition: all 0.3s;
}

.contact__message {
  overflow: hidden;
  resize: none;
}

.contact__message::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
}

.contact__message::-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
}

.contact__message:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
}

.contact__message::placeholder {
  font-family: 'Open Sans', sans-serif;
}

.contact__final {
  background: #1a73e8;
  color: white;
  border: 2px solid #1a73e8;
  padding: .40em 1.5em;
  text-decoration: none;
  border-radius: 5px;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  font-weight: 500;
  -webkit-transform: translateY(35px);
      -ms-transform: translateY(35px);
          transform: translateY(35px);
}

.overveiw__container__item {
  margin: 0 auto 40px;
}

.overview__landing-page-container {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  background-image: url("../assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #09383E;
}

.overview__content__wrapper {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.ellipses-container {
  width: 27rem;
  height: 27rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 4.80rem;
}

@media (max-width: 600px) {
  .ellipses-container {
    width: 22rem;
    height: 22rem;
    top: 8rem;
  }
}

@media (max-width: 450px) {
  .ellipses-container {
    width: 18rem;
    height: 18rem;
    top: 10rem;
  }
}

@media (max-width: 350px) {
  .ellipses-container {
    width: 16rem;
    height: 16rem;
    top: 11rem;
  }
}

@media (max-width: 318px) {
  .ellipses-container {
    width: 14rem;
    height: 14rem;
    top: 12.5rem;
  }
}

@media (max-width: 268px) {
  .ellipses-container {
    width: 11.5rem;
    height: 11.5rem;
    top: 14rem;
  }
}

.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0.1);
  -webkit-animation: ellipsesOrbit 15s ease-in-out infinite;
  -webkit-animation-animation: ellipsesOrbit 15s ease-in-out infinite;
}

.ellipses__outer--thin:after {
  content: "";
  background-image: url("../assets/img/dial.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.ellipses__outer--thick {
  width: 100%;
  height: 100%;
  border-color: #09383E transparent;
  border-width: 2px;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-transform: rotate(-45deg);
  -webkit-animation: ellipsesRotate 15s ease-in-out infinite;
  -webkit-animation-animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 2px;
  border-color: #09383E;
  top: -0.20rem;
  right: 6.75rem;
}

@media (max-width: 600px) {
  .ellipses__orbit {
    top: -0.80rem;
  }
}

@media (max-width: 450px) {
  .ellipses__orbit {
    top: -1.25rem;
  }
}

@media (max-width: 350px) {
  .ellipses__orbit {
    top: -1.0rem;
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 318px) {
  .ellipses__orbit {
    top: 12.80rem;
  }
}

@media (max-width: 268px) {
  .ellipses__orbit {
    top: 10rem;
  }
}

.ellipses__orbit:before {
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #09383E;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -webkit-transform-transform: translateY(-50%);
}

@-webkit-keyframes ellipsesRotate {
  0% {
    -webkit-transform: rotate(-45deg);
    -webkit-transform-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
    -webkit-transform-transform: rotate(-405deg);
  }
}

@keyframes ellipsesRotate {
  0% {
    -webkit-transform: rotate(-45deg);
    -webkit-transform-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
    -webkit-transform-transform: rotate(-405deg);
  }
}

@-webkit-keyframes ellipsesOrbit {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ellipsesOrbit {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.downit {
  position: absolute;
  top: 90vh;
  left: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #09383E;
  -webkit-animation: arrow 2.5s ease-in-out infinite;
          animation: arrow 2.5s ease-in-out infinite;
}

@-webkit-keyframes arrow {
  0% {
    top: 90vh;
  }
  40% {
    top: 96vh;
  }
  100% {
    top: 90vh;
  }
}

@keyframes arrow {
  0% {
    top: 90vh;
  }
  40% {
    top: 96vh;
  }
  100% {
    top: 90vh;
  }
}

.overview__about {
  padding-left: 20%;
  padding-right: 20%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto';
}

@media (max-width: 700px) {
  .overview__about {
    padding-left: 10%;
    padding-right: 10%;
  }
}

footer {
  background: #444;
  color: white;
  padding: 5em 0;
  position: relative;
}

footer::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../assets/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.07;
}

.footer__container {
  max-width: 25em;
}

.__container {
  width: 90%;
  margin: 0 auto;
}

.footer__title {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.footer__title::before {
  content: '';
  display: block;
  height: 1px;
  background: white;
  opacity: 0.25;
  margin: 1.5em 0;
}

.footer__title::after {
  content: '';
  display: block;
  height: 1px;
  background: white;
  opacity: 0.25;
  margin: 1.5em 0;
}

.social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  opacity: 0.8;
  margin-top: .7em 0;
}

.footer__lists {
  margin: 0;
  padding: 0;
  list-style: none;
}

.white {
  color: white;
}

.profile-post-textarea {
  resize: none;
  width: 50%;
  border-radius: 18px;
  text-decoration: none;
  border: 0;
  padding: 10px;
}

.profile-post-textarea:focus {
  outline: none;
}

.post--image {
  display: none;
}

.post--photo {
  display: inline;
  padding: 6px 12px;
  cursor: pointer;
}

.write--message {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid #cccccc;
  background-color: #EBEBEB;
}

.actual--message {
  background-color: #FFFFFF;
  border: 1px solid #E2E2E2;
  font-size: 15px;
  padding: 5px;
  width: 80%;
  margin: 3px;
  outline: none;
  transition: all ease-in-out 500ms;
}

.message_left1 {
  display: inline-block;
  left: 0;
  width: 59%;
  text-align: left;
}

.message_left1 span {
  display: inline-block;
  background-color: #ffffff;
  word-wrap: break-word;
  border-radius: 15px 50px 30px 5px;
  border: 10px solid #ffffff;
}

.message_right1 {
  display: inline-block;
  width: 39%;
}

.message_left2 {
  display: inline-block;
  width: 39%;
}

.message_right2 {
  display: inline-block;
  left: 0;
  width: 59%;
  text-align: right;
  word-break: break-all;
}

.message_right2 span {
  display: inline-block;
  background-color: #ffffff;
  word-wrap: break-word;
  border-radius: 50px 15px 5px 30px;
  border: 10px solid #ffffff;
  padding: 5px;
}

.message_right2 p {
  margin: 0;
}

.message_left1 p {
  margin: 0;
}

hrr {
  margin: 8px;
}

.nav-toggle {
  display: block;
  padding: 1em;
  position: absolute;
  left: 10px;
  top: 16px;
  cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all ease-in-out 250ms;
  border-radius: 25px;
}

.hamburger::before {
  -webkit-transform: translate(-6px, -6px);
      -ms-transform: translate(-6px, -6px);
          transform: translate(-6px, -6px);
}

.hamburger::after {
  -webkit-transform: translate(-6px, 4px);
      -ms-transform: translate(-6px, 4px);
          transform: translate(-6px, 4px);
}

.hamburger.is-open {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.is-open::after {
  -webkit-transform: rotate(-90deg) translate(2px);
      -ms-transform: rotate(-90deg) translate(2px);
          transform: rotate(-90deg) translate(2px);
}

.hamburger.is-open::before {
  opacity: 0;
}

.main-nav {
  background: #d31869;
  position: absolute;
  top: 0;
  right: 100%;
  left: 0;
  font-size: 1.2em;
  overflow: hidden;
  transition: all ease-in-out 250ms;
  display: none;
}

.new-header-ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
  height: 100vh;
}

.new-header-li {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

li:last-child {
  margin-right: 0 !important;
}

#main-nav-a {
  color: white;
  text-decoration: none;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto';
}

#main-nav-a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.is-open {
  display: block;
  right: 0;
  -webkit-animation: revea 1s ease-in-out;
          animation: revea 1s ease-in-out;
}

@-webkit-keyframes revea {
  0% {
    display: block;
    right: 100%;
  }
  20% {
    display: block;
    right: 0;
  }
}

@keyframes revea {
  0% {
    display: block;
    right: 100%;
  }
  20% {
    display: block;
    right: 0;
  }
}

.contain-header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.rota-150-logo {
  width: auto !important;
  max-width: 25rem;
  margin-left: 30px;
  margin: 0 auto;
}

.rota-150-logo img {
  margin: 0 auto;
}

.grid-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1em;
}

.hero {
  background: linear-gradient(to right, #048ca8, #16db93);
  color: white;
  padding-top: 8em;
  padding-bottom: 8em;
  text-align: center;
  font-family: 'Roboto';
  line-height: 1.8;
  padding-bottom: 0;
  min-height: 100vh;
}

.hero-text {
  margin-top: 8vmax;
}

@media (max-width: 450px) {
  .hero-text {
    margin-top: -30px;
  }
}

@media (max-width: 330px) {
  .hero-text {
    margin-top: -50px;
  }
}

.col {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 0 0.75em;
}

@media (min-width: 725px) {
  .col:first-of-type {
    padding-left: 0;
  }
  .col:last-of-type {
    padding-right: 0;
  }
}

.col--full {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 725px) {
  .col--1-3 {
    -webkit-flex-basis: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
            flex-basis: 33.3333%;
  }
  .col--2-3 {
    -webkit-flex-basis: 66.6666%;
        -ms-flex-preferred-size: 66.6666%;
            flex-basis: 66.6666%;
  }
  .col--1-2 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
}

.new-btn {
  padding: .75em 2.5em !important;
}
