.slider {
  width: 100%;
  position: absolute;
  top: 54%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-slide:focus {
  outline: none;
}

.slick-slide img {
  width: 55%;
}

.slick-slide {
  transition: all ease-in-out 1s;
  opacity: .2;
}

.slick-active {
  opacity: .2;
}

.slick-current {
  opacity: 1;
}

.h3_class {
  font-family: Poppins;
  color: #f12929;
  text-transform: uppercase;
  margin-bottom: 0;
}

.p_class {
  margin-top: 4px;
  font-family: Poppins;
  color: grey;
  text-transform: uppercase;
}

.logox {
  position: absolute;
  margin: 2em;
  float: left;
}

.bottom {
  position: absolute;
  bottom: 1em;
  left: 2em;
}

.bottom p {
  color: #fff;
  font-weight: 400;
  background: #f12929;
}
