input[type="text"]
  background-color: #FFFFFF
  border: 1px solid #E2E2E2
  font-size: 15px
  padding: 5px
  width: 300px
  margin-bottom: 3px
  margin-top: 3px
  outline: none
  transition: all ease-in-out 500ms
  @media (max-width: 430px)
    width: 200px

input[type="text"]:hover,input[type="text"]:focus
  border: 1px solid #048ca8

input[type="password"]
  background-color: #FFFFFF
  border: 1px solid #E2E2E2
  font-size: 15px
  padding: 5px
  width: 300px
  margin-bottom: 3px
  margin-top: 3px
  outline: none
  transition: all ease-in-out 500ms
  @media (max-width: 430px)
    width: 200px


input[type="password"]:hover,input[type="password"]:focus
  border: 1px solid #048ca8


.box1
  width: 40%
  vertical-align: top
  @media (max-width: 900px)
    display: block
    width: 100%
    margin: auto 0

.box2
  width: 40%
  @media (max-width: 900px)
    display: block
    width: 100%
    padding-top: 2.5em





//input[type="submit"]
  background: #048ca8

  color: $text-inverse
  padding: 3px 7px
