.overview__about
    padding-left: 20%
    padding-right: 20%
    margin-left: auto
    margin-right: auto
    font-family: 'Roboto'
    @media (max-width: 700px)
        padding-left: 10%
        padding-right: 10%