RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# Return 404 if original request is .php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

# Force Using https
# RewriteCond %{HTTPS} off
#    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Custom 400 errors
ErrorDocument 400 /rotaractheritage
#Custom 401 errors
ErrorDocument 401 /rotaractheritage
#/Custom 403 errors
ErrorDocument 403 /rotaractheritage
#Custom 404 errors
ErrorDocument 404 /rotaractheritage/error/404.html/
#Custom 500 errors
ErrorDocument 500 /rotaractheritage
