
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# Return 404 if original request is .php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

# Force Using https
# RewriteCond %{HTTPS} off
#    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Options -Indexes

#Subscription Management
RewriteRule /stat/(.*)/con/(.*)/ subscription_management.php?stat=$1&con=$2
RewriteRule /stat/(.*)/con/(.*) subscription_management.php?stat=$1&con=$2

# Like
RewriteRule /like/(.*)/ home.php?like=$1
RewriteRule /like/(.*) home.php?like=$1

# Comment
RewriteRule /commenti/(.*)/ home.php?commenti=$1
RewriteRule /commenti/(.*) home.php?commenti=$1

# Profile
RewriteRule user/(.*)/ profile.php?user=$1
RewriteRule user/(.*) profile.php?user=$1
 
# messages
RewriteRule /a/(.*)/b/(.*)/c/(.*)/d/(.*)/ insert_messages.php?a=$1&b=$2&c=$3&d=$4
RewriteRule /a/(.*)/b/(.*)/c/(.*)/d/(.*) insert_messages.php?a=$1&b=$2&c=$3&d=$4

#update
RewriteRule /x/(.*)/y/(.*)/ update_messages.php?x=$1&y=$2
RewriteRule /x/(.*)/y/(.*) update_messages.php?x=$1&y=$2

#messenger
RewriteRule /to/(.*)/ messenger.php?to=$1
RewriteRule /to/(.*) messenger.php?to=$1