
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# Return 404 if original request is .php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

# Force Using https
# RewriteCond %{HTTPS} off
#    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Options -Indexes

#Subscription Management
RewriteRule /stat/(.*)/con/(.*)/ subscription_management.php?stat=$1&con=$2
RewriteRule /stat/(.*)/con/(.*) subscription_management.php?stat=$1&con=$2

# Like
RewriteRule /like/(.*)/ home.php?like=$1
RewriteRule /like/(.*) home.php?like=$1

# Comment
RewriteRule /commenti/(.*)/ home.php?commenti=$1
RewriteRule /commenti/(.*) home.php?commenti=$1

# Profile
RewriteRule user/(.*)/ profile.php?user=$1
RewriteRule user/(.*) profile.php?user=$1